.cv-modal {
    max-width: 60%;
    align-items: center;
    text-align: center;
    .close-btn {
        position: absolute;
        top: 0;
        right: 0;
        padding: 1rem;
    }
    .btns-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 50%;
    }
}

@include for-mobile-layout {
    .cv-modal {
        max-width: 100%;
    }
}