@font-face {
    font-family: CONSOLA;
    src: url(../../assets/fonts/consolas/CONSOLA.TTF);
}

@font-face {
    font-family: TurretRoad-Regular;
    src: url(../../assets/fonts/Turret_Road/TurretRoad-Regular.ttf);
}