// COLOR PALETTE
$clr1:rgb(51, 51, 51); //main-background
$clr2:rgb(33, 33, 33); //main-header
$clr3: rgb(44, 122, 214); // html tags color
$clr4: rgb(255, 255, 255); // 
$clr5: rgb(30, 30, 30); // code editor background color
$clr6: rgb(30, 30, 30); //page background color
$clr7: rgb(208, 53, 255); //button
// 
// LAYOUT BREAKPOINTS
// $break-smaller-mobile: 410px;
// $break-mobile: 580px;
$break-smaller-mobile: 440px;
$break-mobile: 620px;
$break-narrow: 882px;
$break-wide: 1600px;